/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
   body {
      font-size: 1.9rem;
   }

   .home {
      .partners {
         ul {
            li {
               width: 33.333%;
            }
         }
      }
      .services {
         text-align: left;
         ul {
            li {
               display: block;
               &:after {
                  content: '';
               }
            }
         }
      }
   }

   .broadcast-posts, .folio-posts {
      .single-post {
         .post-body {
            &:after {
               margin-left: -600px;
               border-left: 600px solid transparent;
               border-right: 600px solid transparent;
               border-top: 22px solid $off-white;
            }
         }
      }
   }
   .team-page {
      ul {
         li {
            width: 34%;
            float: left;
            margin: 0 8% 2rem 8%;
         }
      }
   }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

   .broadcast-posts, .folio-posts {
      max-width: 1200px;
      margin: 0 auto;
   }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
   .team-page {
      ul {
         li {
            width: 28%;
            float: left;
            margin: 0 2.5% 2rem 2.5%;
         }
      }
   }
}

// background size fix

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
   body {
      background-attachment: scroll;
   }
}
