/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
   body {
      font-size: 1.9rem;
   }
   .site-header {
      .we-craft {
         h3 {
            font-size: 180%;
         }
      }
   }
   .primary-nav {
      .nav-holder {

         div {
            display: inline-block;
            @include rounded(0 0 5px 5px);
            border-left: 2px solid rgba(255,255,255,0.35);
            border-right: 2px solid rgba(255,255,255,0.35);
         }
      }
   }
   .home {
      .intro {
         .row {
            background: url('/public/img/grey-pixel.jpg') repeat-y center center;
            .col-sm-6:first-child {
               text-align: right;
               padding-right: 3rem;
            }
            .col-sm-6:last-child {
               text-align: left;
               padding-left: 3rem;
            }
         }
      }
      .partners {
         ul {
            li {
               width: 33.333%;
            }
         }
      }
   }
   .broadcast-posts, .folio-posts {
      .single-post {
         .post-body {
            &:after {
               margin-left: -600px;
               border-left: 600px solid transparent;
               border-right: 600px solid transparent;
               border-top: 22px solid $off-white;
            }
         }
      }
   }
   .team-page {
      ul {
         li {
            width: 33.333%;
         }
      }
   }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

   .broadcast-posts, .folio-posts {
      max-width: 1200px;
      margin: 0 auto;
      .single-post {
         .post-body {
            &:after {
               margin-left: -700px;
               border-left: 700px solid transparent;
               border-right: 700px solid transparent;
               border-top: 22px solid $off-white;
            }
         }
      }
   }

   .team-page {
      ul {
         li {
            width: 20%;
         }
      }
   }

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

   .broadcast-posts, .folio-posts {
      max-width: 1200px;
      margin: 0 auto;
      .single-post {
         .post-body {
            &:after {
               margin-left: -800px;
               border-left: 800px solid transparent;
               border-right: 800px solid transparent;
               border-top: 22px solid $off-white;
            }
         }
      }
   }

}

// background size fix

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
   body {
      background: url('/public/img/bg-ios.png');
      &.default-template {
         header {
                         background: url('/public/img/bg-with-ht.png') no-repeat right top scroll;
            -webkit-background-size: cover;
               -moz-background-size: cover;
                 -o-background-size: cover;
                    background-size: cover;
         }
      }
   }
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
   body {
      background: url('/public/img/bg-ios.png');
      &.default-template {
         header {
                         background: url('/public/img/bg-with-ht.png') no-repeat right top scroll;
            -webkit-background-size: cover;
               -moz-background-size: cover;
                 -o-background-size: cover;
                    background-size: cover;
         }
      }
   }
}
