/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
   .services {
      text-align: center;
      ul {
         li {
            display: inline-block;
            &:after {
               content: ', ';
            }
            &:last-child:after {
               content: '';
            }
         }
      }
   }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
