---
---

// imports

@import 'bootstrap';
@import 'helpers';
@import 'syntax';
@import 'rotator';

// colors

$grey: rgb(64,64,64);
$light-grey: #ccc;
$off-white: #f1f1f1;
$gold: rgb(191,144,44);
$light-gold: rgb(230,178,78);
$dark-gold: rgb(151,114,35);

// styles begins

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
}

html, body { height: 100%; }

body {
	font-family: "rooney-web", sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	font-weight: 400;
	color: $grey;
	background: url('/public/img/bg-with-ht.png') no-repeat right top fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a, a:hover {
	text-decoration: none;
}

.copy-area {
	a {
		color: inherit;
		border-bottom: 1px solid $light-gold;
		box-shadow: inset 0 -2px 0 $light-gold;
		@include transitions(100ms);
	}

	a:hover, a:focus {
		color: #777;
		text-decoration: none;
		border-bottom: 1px solid $light-grey;
		box-shadow: inset 0 0 0 transparent;
	}
}

h1, h2, h3, h4 {
	font-family: "museo-slab";
	color: $gold;
}

section {
	padding: 0;
}

// nav style

.primary-nav {
	position: fixed;
	top: 0;
	width: 100%;
	.nav-holder {
		div {
			display: block;
			background: $gold;
			font-size: 1.5rem;
			vertical-align: top;
			padding-right: 1.5rem;
			overflow: hidden;
			border-bottom: 2px solid rgba(255,255,255,0.35);
			@include transitions(200ms);
			span {
				vertical-align: middle;
				color: $dark-gold;
				margin-left: 0.5rem;
				margin-right: 0.5rem;
			}
			a {
				display: inline-block;
				color: #fff;
				line-height: 30px;
				@include transitions(200ms);
				&:hover {
					color: #333;
					text-decoration: none;
				}
			}
			.home-lnk {
				padding-top: 1rem;
				padding-bottom: 1rem;
				padding-left: 1rem;
				padding-right: 1rem;
				margin-right: 1rem;
				background: $dark-gold;
				img {
					opacity: 0.7;
					@include transitions(200ms);
				}
				&:hover {
					img {
						opacity: 1;
						-moz-transform: scale(1.15);
						-webkit-transform: scale(1.15);
						-o-transform: scale(1.15);
						-ms-transform: scale(1.15);
						transform: scale(1.15);
					}
				}
			}
		}
	}
	&.nav-active {
		.nav-holder {
			div {
				background: rgba($gold, .9);
				.home-lnk {
					padding-top: 0.25rem;
					padding-bottom: 0.25rem;
				}
			}
		}
	}
	&:hover {
		.nav-holder {
			div {
				background: $gold;
			}
		}
	}
}

// site header

.site-header {
	padding: 11rem 0 2rem 0;
	.site-mast {
		max-width: 50%;
		margin-bottom: 3rem;
		@include transitions(600ms);
		opacity: 1;
		 -webkit-filter: blur(0px);
			-moz-filter: blur(0px);
			  -o-filter: blur(0px);
			 -ms-filter: blur(0px);
				 filter: blur(0px);
		 -moz-transform: scale(1);
	  -webkit-transform: scale(1);
		   -o-transform: scale(1);
		  -ms-transform: scale(1);
			  transform: scale(1);
	}
	.mast-hidden {
		opacity: 0;
		 -webkit-filter: blur(15px);
			-moz-filter: blur(15px);
			  -o-filter: blur(15px);
			 -ms-filter: blur(15px);
				 filter: blur(15px);
		 -moz-transform: scale(0.8);
	  -webkit-transform: scale(0.8);
		   -o-transform: scale(0.8);
		  -ms-transform: scale(0.8);
			  transform: scale(0.8);
	}
	.hdr-btns {
		a {
			color: #fff;
			img {
				width: 100px;
				margin-top: 2rem;
				margin-bottom: 2rem;
				@include transitions(200ms);
			}
			div {
				opacity: 0.5;
				@include transitions(200ms);
				margin-bottom: 3rem;
			}
			&:hover {
				img {
					-moz-transform: scale(1.2);
					-webkit-transform: scale(1.2);
					-o-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
				div {
					opacity: 1;
				}
			}
		}
	}
	.we-craft {
		h3 {
			color: #fff;
			span {
				color: $gold;
			}
		}
	}
}

.secondary-page {
	.site-header {
		padding: 6rem 0 2rem 0;
		.site-mast {
			max-width: 45%;
			margin-bottom: 0;
		}
	}
	.post-header {
		h1 {
			color: #fff;
		}
	}
	.post-content {
		color: $off-white;
		a {
			color: $gold;
		}
	}
	.entry-content {
		padding: 2rem 0 1rem 0;
	}
}

.sec-inner {
	position: fixed;
	top: 0;
	background: rgba(0,0,0,0.3);
	width: 100%;
	height: 100%;
	z-index: -1;
}

// footer style

.site-footer {
	padding: 4rem 0 1.5rem 0;
	color: $off-white;
	.soci {
		display: inline-block;
		width: 70px;
		line-height: 70px;
		font-family: "socicon";
		background: $gold;
		font-size: 3rem;
		@include rounded(50%);
		color: #fff;
		margin: 2rem 0.5rem 2rem 0.5rem;
		@include transitions(150ms);
		&:hover {
			background: $light-gold;
			color: $grey;
			-moz-transform: scale(1.15);
			-webkit-transform: scale(1.15);
			-o-transform: scale(1.15);
			-ms-transform: scale(1.15);
			transform: scale(1.15);
		}
	}
	h3 {
		color: #fff;
		a {
			color: inherit;
		}
	}
}

// home style

.home {
	background: url('/public/img/halftone.png');
	.intro {
		padding: 2rem 0 2rem 0;
		.col-sm-6 {
			text-align: center;
		}
	}
	.partners {
		ul {
			margin-bottom: 0;
			li {
				width: 50%;
				float: left;
				a {
					display: block;
					@include transitions(200ms);
					img {
						max-width: 94%;
						margin: 3%;
					}
					&:hover {
						background: $off-white;
					}
				}
			}
		}
	}
	.services {
		padding-top: 2rem;
		padding-bottom: 2rem;
		text-align: center;
		max-width: 1200px;
		ul {
			li {
				display: inline;
				&:after {
					content: ', ';
				}
				&:last-child:after {
					content: '';
				}
			}
		}
	}
	.contact {
		position: relative;
		padding-bottom: 0;
		.address-block {
			position: absolute;
			bottom: 40px;
			width: 100%;
			background: rgba(191,144,44,0.75);
			padding: 0.75rem;
			h4 {
				color: #fff;
				margin: 0 0 0.25rem 0;
			}
			p {
				color: $off-white;
				margin: 0;
			}
			a {
				color: $off-white;
			}
		}
	}
}

.mini-heads {
	border: 4px solid $light-grey;
	display: inline-block;
	position: relative;
	overflow: hidden;
	@include rounded(50%);
	em {
		position: absolute;
		left: 0;
		bottom: 12%;
		width: 100%;
		text-align: center;
		color: $off-white;
		text-shadow: 0 0 5px #000;
	}
}

// team

.team-page {
	ul {
		margin: 3rem 0 3rem 0;
		li {
			width: 50%;
			float: left;
			margin: 0;
			position: relative;
			overflow: hidden;
			img {
				width: 100%;
			}
			div {
				position: absolute;
				background: rgba(0,0,0,0.5);
				width: 100%;
				bottom: -55px;
				@include transitions(175ms);
				h4, small {
					line-height: 30px;
					display: block;
					margin: 0;
				}
				a {
					font-family: "socicon";
					color: $gold;
					line-height: 30px;
				}
				small {
					color: #fff;
					line-height: 22px;
				}
			}
			&:hover {
				div {
					bottom: 0px;
				}
			}
		}
	}
}

// contact

#map-canvas {
	height: 400px;
}

// broadcasts

.broadcast-posts, .folio-posts, .post, .interested-page {
	.single-post {
		margin: 0 5% 0 5%;
		position: relative;
		padding-bottom: 15px;
		overflow: hidden;
		h3 {
			a {
				color: $gold;
			}
		}
		.post-body {
			background: $off-white;
			padding: 0.01rem 1rem 0.01rem 1rem;
			@include rounded(6px 6px 0 0);
			border: 1px solid $off-white;
			&:after {
				content: ' ';
				position: absolute;
				display: inline-block;
				width: 0;
				height: 0;
				bottom: 0;
				left: 50%;
				margin-left: -400px;
				border-left: 400px solid transparent;
				border-right: 400px solid transparent;
				border-top: 18px solid $off-white;
			}
		}
	}
	.post-footer {
		color: #fff;
		padding: 1rem 0 4rem 0;
		a {
			color: inherit;
		}
		span {
			color: $light-gold;
		}
	}
}

.folio-posts {
	.post-body {
		overflow: hidden;
		img {
			width: 105%;
			margin: -1rem -2rem 0 -2rem;
		}
	}
}

// interested page/form

.interested-form {
	padding: 2rem 2rem 0;
	.row {
		margin-bottom: 1rem;
	}
	label.control-label {
		color: $gold;
		text-align: center;
	}
	button {
		margin-top: 2rem;
		color: #fff;
		background: $light-gold;
		border: 2px solid $gold;
		@include rounded(6px);
		padding: 0 1rem 0 1rem;
		@include transitions(175ms);
		&:hover {
			background: lighten($light-gold, 10%);
			padding: 0 1.5rem 0 1.5rem;
		}
	}
}

// 404 page

.error-page {
	h1 {
		margin-top: 10rem;
	}
	.banner-area {
		padding: 2rem;
		h1 {
			margin: 0;
		}
		margin-top: 10rem;
		background: rgba(0,0,0,0.7);
		p {
			margin: 4rem 0 2rem 0;
			color: $off-white;
			a {
				color: inherit;
				text-decoration: underline;
				&:hover {
					color: $gold;
				}
			}
		}
	}
}

@import 'mqueries';
