<footer class="site-footer text-center">

   <h3><a href="#">Interested in working with us?</a></h3>

   <a class="soci" href="#">a</a>
   <a class="soci" href="#">b</a>
   <a class="soci" href="#">j</a>

   <p>Spotvin is a full service design and strategy firm located in Windsor, Ontario.</p>
   <p class="copyright">&copy; Spotvin Inc. 2014</p>

</footer>

<nav class="primary-nav text-center">
   <div class="nav-holder">
      <div>
      <!-- <a href="/broadcasts/"><img src="/public/img/broadcast.svg" alt="Weekly Broadcasts"></a>
      <a href="/team/"><img src="/public/img/team.svg" alt="Meet The Team"></a>
      <a href="/folio/"><img src="/public/img/work.svg" alt="Meet The Team"></a> -->
      <!-- {% for page in site.pages %}
         {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
      {% endfor %} -->

         <a class="home-lnk" href="/"><img src="/public/img/spot-xs.svg"></a>
         <a href="/folio/">Work</a>
         <span>☉</span>
         <a href="/team/">Team</a>
         <span>☉</span>
         <a href="/broadcasts/">Broadcasts</a>
      </div>
   </div>
</nav>
