<header class="site-header text-center">

   <h1>
      <a class="site-title" href="{{ site.baseurl }}/" title="{{ site.title }}">
         <img class="site-mast mast-hidden" src="/public/img/spotvin-lg.png">
      </a>
   </h1>

   <div class="we-craft">
      <h3>We Craft <span class="rotate">Brand, Print, Clever, Digital, Online, Elegant, Engaging</span> Creative</h3>
   </div>

   <div class="hdr-btns">
      <a href="#contact-area">
         <img src="/public/img/holler-lg.svg">
      </a>
   </div>

</header>
