<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{ site.description }}">
	<link rel="shortcut icon" href="/public/favicon.ico">
	<link rel="apple-touch-icon" sizes="57x57" href="/public/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/public/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/public/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/public/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/public/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/public/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/public/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/public/apple-touch-icon-152x152.png">
	<link rel="icon" type="image/png" href="/public/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/png" href="/public/favicon-16x16.png" sizes="16x16">
	<link rel="icon" type="image/png" href="/public/favicon-32x32.png" sizes="32x32">
	<meta name="msapplication-TileColor" content="#ffc40d">
	<meta name="msapplication-TileImage" content="/public/mstile-144x144.png">
	<meta name="msapplication-config" content="/public/browserconfig.xml">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<script type="text/javascript" src="//use.typekit.net/cdt4ryl.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="{{ "/public/css/main.css" | prepend: site.baseurl }}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="/public/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/tooltip.min.js"></script>
	<script src="/public/js/text-rotator.min.js"></script>
	<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="/public/js/main.js"></script>
</head>
