---
layout: secondary
---
<div class="team-page">

   <header class="post-header text-center">
      <h1>{{ page.title }}</h1>
      <img src="/public/img/team-lg.svg">
   </header>

   <article class="post-content text-center">

      <p>Meet Spotvin's team, the eleventy-billion horsepower engine behind everything we believe and do.</p>

      <p>Amongst us we have four designers, an uber-nerd, a car afficionado, two hipsters and a Disney fanatic. Guesses?</p>

   </article>

   <ul class="team-list list-unstyled clearfix">

      <li>
         <img src="/public/img/team/marcello-fontana.gif">
         <div class="text-center">
            <h4>Marcello Fontana</h4>
            <small>Owner, Art Director</small>
            <a href="#">a</a>
            <a href="#">j</a>
         </div>
      </li>

      <li>
         <img src="/public/img/team/shane-potvin.gif">
         <div class="text-center">
            <h4>Shane Potvin</h4>
            <small>Owner, FryDaddy Operator</small>
            <a href="#">a</a>
            <a href="#">j</a>
         </div>
      </li>

      <li>
      <img src="/public/img/team/chris-benotto.gif">
      <div class="text-center">
      <h4>Chris Benotto</h4>
      <small>Art Director</small>
      <a href="#">a</a>
      <a href="#">j</a>
      </div>
      </li>

      <li>
         <img src="/public/img/team/kori-burleigh.gif">
         <div class="text-center">
            <h4>Kori Burleigh</h4>
            <small>Graphic Designer</small>
            <a href="#">a</a>
            <a href="#">j</a>
         </div>
      </li>

      <li>
         <img src="/public/img/team/toby-leftly.gif">
         <div class="text-center">
            <h4>Toby Leftly</h4>
            <small>Web + Digital Services</small>
            <a href="#">a</a>
            <a href="#">j</a>
         </div>
      </li>

      <li class="hidden-lg">
         <img src="/public/img/team/kevin-keurig.jpg">
         <div class="text-center">
            <h4>Kevin the Keurig</h4>
            <small>Motivational Coach</small>
            <a href="#" style="visibility: hidden;">a</a>
         </div>
      </li>

   </ul>

</div>
