---
layout: secondary
---
<div class="team-page">

   <header class="post-header text-center">
      <h1>{{ page.title }}</h1>
      <img src="/public/img/team-lg.svg">
   </header>

   <article class="post-content text-center">

      <ul class="team-list list-unstyled clearfix">

         <li>
            <img src="/public/img/final.gif">
            <div>
               <h4>Marcello Fontana</h4>
               <small>Owner, Art Director</small>
               <a href="#">a</a>
               <a href="#">j</a>
            </div>
         </li>

         <li>
            <img src="/public/img/final.gif">
            <div>
               <h4>Shane Potvin</h4>
               <small>Owner, FryDaddy Operator</small>
               <a href="#">a</a>
               <a href="#">j</a>
            </div>
         </li>

         <li>
         <img src="/public/img/final.gif">
         <div>
         <h4>Chris Benotto</h4>
         <small>Art Director</small>
         <a href="#">a</a>
         <a href="#">j</a>
         </div>
         </li>

         <li>
            <img src="/public/img/final.gif">
            <div>
               <h4>Kori Burleigh</h4>
               <small>Graphic Designer</small>
               <a href="#">a</a>
               <a href="#">j</a>
            </div>
         </li>

         <li>
            <img src="/public/img/final.gif">
            <div>
               <h4>Toby Leftly</h4>
               <small>Web + Digital Services</small>
               <a href="#">a</a>
               <a href="#">j</a>
            </div>
         </li>

         <li>
            <img src="/public/img/keurig.jpg">
            <div>
               <h4>Kevin the Keurig</h4>
               <small>Motivational Coach</small>
               <a href="#" style="visibility: hidden;">a</a>
            </div>
         </li>

      </ul>

   </article>

</div>
